body {
    background-color: rgb(207, 169, 230);
    margin: 0;
    padding: 0;
}

 div.menu ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: rgb(81, 44, 104);
     display: flex;
     justify-content: center;
 }

div.menu ul li{
    display: flex;
}

div.menu ul li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    }

div.menu ul li a:hover{
    background-color: whitesmoke;
}

h1 {
    background-color: rbg(211, 134, 255);
    font-family: 'Kalam', cursive;
    text-align: center;
    color: black; 
}
h2 {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}


p{
    text-align: left;
}

/* Star list styling */
ul.star-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul.star-list li {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 0.5em;
}

ul.star-list li::before {
    content: '★';
    position: absolute;
    left: 0;
    color: gold;
}

/* Sublist styling */
ul.star-list ul {
    list-style-type: disc; /* Change to disc for sublist */
    padding-left: 1.5em; /* Indent sublist */
}