 body {
    background-color: rgb(207, 169, 230);
    margin: 0;
    padding: 0;
}
    

div.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(81, 44, 104);
    display: flex;
    justify-content: center;
}

div.menu ul li {
    display: flex;
}

div.menu ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
}

div.menu ul li a:hover {
    background-color: whitesmoke;
}

h1 {
    background-color: rbg(235, 235, 235);
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    color: black;
}
